.card-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--DarkGray);
  padding: 18px 25px;
  width: 540px;
  .initial-password {
    color: var(--LightGray);
  }
  .changed-password {
    color: var(--AlmostWhite);
  }
  .copy {
    display: flex;
    gap: 20px;
    p {
      color: var(--Green);
    }
  }

  &:hover {
    cursor: pointer;
    svg {
      fill: var(--AlmostWhite);
    }
  }

  svg {
    fill: var(--Green);
  }
}

@media (max-width: 640px) {
  .card-password {
    width: 350px;
  }
}
