.card-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  background-color: var(--DarkGray);
  padding: 35px;
  padding-top: 25px;
  width: 540px;

  .checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
  }

  .strength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--NavyBlue);
    padding: 25px;
    width: 100%;
    height: 72px;
    p {
      color: var(--LightGray);
    }

    p,
    h2 {
      text-transform: uppercase;
    }
    .password-strength {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .password-strength-level {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        .password-strength-level-icon {
          width: 10px;
          height: 29px;
          border: 1.5px solid var(--AlmostWhite);
        }
        .password-strength-level-icon-red {
          width: 10px;
          height: 29px;
          background-color: var(--Red);
        }
        .password-strength-level-icon-orange {
          width: 10px;
          height: 29px;
          background-color: var(--Orange);
        }
        .password-strength-level-icon-yellow {
          width: 10px;
          height: 29px;
          background-color: var(--Yellow);
        }
        .password-strength-level-icon-green {
          width: 10px;
          height: 29px;
          background-color: var(--Green);
        }
      }
    }
  }
}
