.card-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  background-color: var(--DarkGray);
  padding: 35px;
  padding-top: 25px;
  width: 540px;

  .checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
  }

  .strength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--NavyBlue);
    padding: 25px;
    width: 100%;
    height: 72px;
    p {
      color: var(--LightGray);
    }
  }

  .character-length-container {
    .character-length {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: var(--Green);
      }
    }
  }
}
