.card-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--DarkGray);
  padding: 18px 25px;
  width: 540px;
  color: var(--LightGray);
  .copy {
    display: flex;
    gap: 20px;
    p {
      color: var(--Green);
    }
  }

  &:hover {
    cursor: pointer;
    svg {
      fill: var(--AlmostWhite);
    }
  }

  svg {
    fill: var(--Green);
  }
}
